<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
<add key="endpointUri" value="https://bailliegifford-sb1.dam.aprimo.com" />
<add key="uploadserviceUri" value="https://bailliegifford-sb1.aprimo.com/uploads" />
<add key="authorization" value="Basic ZHV0Y2htZW46Y2E4KsIeK7KsaWIxNDhjZjg5MmZhZWQ4MmYwNjM5MzE=" />
<add key="clientId" value="F6ZSR71-H4OD" />
<add key="logDir" value="C:\scriptlog" />
<add key="logLevel" value="Info" />
</appSettings>
</configuration>
